# Начало расчета

## Импорт всех нужных библиотек

In [1]:
from scipy import interpolate
import openpyxl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from ipywidgets import interact
import ipywidgets as widgets

Задаем данные размеры эксперимента

In [2]:
N=8
K=5

*Импорт значений Y*

In [3]:
Y = pd.read_csv('3Y.csv', sep = ';', decimal = '.')
Y

      y1     y2     y3     y4     y5
0  2.588  2.597  2.542  2.537  2.539
1  4.191  4.165  4.152  4.129  4.138
2  3.201  3.231  3.202  3.199  3.248
3  5.509  5.453  5.448  5.511  5.445
4  3.793  3.830  3.850  3.789  3.852
5  6.718  6.752  6.760  6.709  6.743
6  4.963  4.966  5.001  4.952  5.007
7  9.738  9.753  9.702  9.746  9.737

*Импорт значений X*

In [4]:
X = pd.read_csv('3X.csv', sep = ';', decimal = '.')
X

   x0  x1  x2  x3  x1x2  x1x3  x2x3  x1x2x3
0   1  -1  -1  -1     1     1     1      -1
1   1   1  -1  -1    -1    -1     1       1
2   1  -1   1  -1    -1     1    -1       1
3   1   1   1  -1     1    -1    -1      -1
4   1  -1  -1   1     1    -1    -1       1
5   1   1  -1   1    -1     1    -1      -1
6   1  -1   1   1    -1    -1     1      -1
7   1   1   1   1     1     1     1       1

### 3.Рассчитайте среднее арифметическое для всех серий опытов эксперимента.

In [5]:
Yср=pd.DataFrame(np.mean(Y,axis=1))
Yср.columns=['Yср']
Yср

      Yср
0  2.5606
1  4.1550
2  3.2162
3  5.4732
4  3.8228
5  6.7364
6  4.9778
7  9.7352

### 4.Рассчитайте дисперсии опытных значений функции отклика по формуле (3.3).

In [6]:
Disp=pd.DataFrame(np.var(Y,axis=1))
Disp.columns=['Disp']
Disp

       Disp
0  0.000689
1  0.000474
2  0.000392
3  0.000910
4  0.000735
5  0.000387
6  0.000483
7  0.000309

### 5.Вычислите критерий Кохрена и проверьте воспроизводимость эксперимента (используйте таблицы для критических значений в сети Интернет).

Рассчитаем максимальную дисперсию

In [7]:
disp_max=np.amax(Disp,axis=0)
disp_max[0]

0.0009097599999999971

Значение критерия Кохрейна

In [8]:
Gp=disp_max/np.sum(Disp)
Gp[0]

0.20777986881292057

Критическое значение критерия Кохрейна:

Gkr=0.4387 (при K=5, N=8, уровень значимости 0,05)

**Следовательно гипотеза об однородности дисперсий принимается**

### 6.Вычислить значения коэффициентов уравнения регрессии в соответствие с (3.5)-(3.7).

In [9]:
Betta=pd.DataFrame(np.transpose(X).dot(Yср)/N)
Betta.columns=['Betta']
Betta

          Betta
x0      5.08465
x1      1.44030
x2      0.76595
x3      1.23340
x1x2    0.31330
x1x3    0.47745
x2x3    0.27250
x1x2x3  0.14765

### 7.Вычислите дисперсии ошибок определения коэффициентов регрессионного уравнения.

In [10]:
Sb=np.sum(Disp)/N/(K*N)
Sb=pd.DataFrame([Sb]*8)
Sb.columns=['Sb']
Sb.index =Betta.index
Sb

              Sb
x0      0.000014
x1      0.000014
x2      0.000014
x3      0.000014
x1x2    0.000014
x1x3    0.000014
x2x3    0.000014
x1x2x3  0.000014

### 8.Вычислите критерий Стьюдента и проверьте гипотезу о статистической значимости коэффициентов уравнения регрессии (используйте таблицы для критических значений в сети Интернет).

In [11]:
# Sb, Betta = Sb.align(Betta)
T=np.divide(abs(Betta),Sb)
T.columns=['t']
Betta

C:\Users\Wladimir\AppData\Local\Temp\ipykernel_8288\2683379127.py:2: FutureWarning: Calling a ufunc on non-aligned DataFrames (or DataFrame/Series combination). Currently, the indices are ignored and the result takes the index/columns of the first DataFrame. In the future , the DataFrames/Series will be aligned before applying the ufunc.
Convert one of the arguments to a NumPy array (eg 'ufunc(df1, np.asarray(df2)') to keep the current behaviour, or align manually (eg 'df1, df2 = df1.align(df2)') before passing to the ufunc to obtain the future behaviour and silence this warning.
  T=np.divide(abs(Betta),Sb)

          Betta
x0      5.08465
x1      1.44030
x2      0.76595
x3      1.23340
x1x2    0.31330
x1x3    0.47745
x2x3    0.27250
x1x2x3  0.14765

число степеней свободы

In [12]:
v=N*(K-1)
v

32

Критическое значени : tkr=2.038

**Следовательно гипотеза о значимости принимается**

### 9.Запишите в явном виде полученную математическую модель в виде регрессионного уравнения.

In [13]:
print('y = '+str(Betta.iloc[0][0])+' + '+str(Betta.iloc[1][0])[:5]+'*x1 + '+str(Betta.iloc[2][0])+'*x2 + '+str(Betta.iloc[3][0])+'*x3 + '+str(Betta.iloc[4][0])[:8]+'*x1*x2 + '+str(Betta.iloc[5][0])[:8]+'*x1*x3 + '+str(Betta.iloc[6][0])[:8]+'*x2*x3 + '+str(Betta.iloc[7][0])[:8]+'*x1*x2*x3')

y = 5.08465 + 1.440*x1 + 0.7659500000000004*x2 + 1.2334*x3 + 0.313300*x1*x2 + 0.477450*x1*x3 + 0.272500*x2*x3 + 0.147650*x1*x2*x3

### 10.После этого рассчитайте критерий Фишера и проверьте адекватность математической модели (используйте таблицы для критических значений в сети Интернет).

In [14]:
def y(x1,x2,x3,i):
    XX=pd.DataFrame([x1,x2,x3,x1*x2,x1*x3,x2*x3,x1*x2*x3])
    Bettayi=Betta.head(i)
    XXi=XX.head(i)
    y = np.dot(np.transpose(Bettayi),XXi)
    return y[0][0]

*число значимых коэффициентов регрессии:*

In [15]:
X=np.array(X)
Yср=np.array(Yср)
def f(d):
    YY=0
    YYY=0
    for i in range(0,N):
        YYY=np.square(y(X[1][i],X[2][i],X[3][i],d)-Yср[i])
        YY=YY+YYY
    
    Sa=YY/(N-d)
    print('Sa = '+str(Sa[0])[:9])
    Sy=np.sum(Disp)/N
    print('Sy = '+str(Sy[0])[:9])
    Fp=Sa/Sy
    print('Критерий Фишера = '+str(Fp[0])[:9])

    vch=K*(N-d)
    vzn=N*(K-1)
    print('Число степеней свободы: ')
    print('Числителя = '+str(vch))
    print('Знаменателя = '+str(vzn))
    F_kr=2.0
    if  int(Fp)>F_kr:
        print(str(Fp[0])[:9]+' > '+'F_kr = 2.0')
        print('\033[1m'+'Следовательно гипотеза об адекватности математической модели отклоняется'+'\033[1m')
    else:
        print(str(Fp[0])[:9]+' < '+'F_kr = 2.0')
        print('\033[1m'+'Следовательно гипотеза об адекватности математической модели принимается'+'\033[1m')
interact(f,d=widgets.IntSlider(min=1, max=7, step=1));

interactive(children=(IntSlider(value=1, description='d', max=7, min=1), Output()), _dom_classes=('widget-inte…